.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
}

.card {
  background:#233142;
}


/* footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
} */
